@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Trebuchet MS';
  src: local('Trebuchet MS'), url('/client/assets/fonts/trebuc.ttf') format('opentype');
}
@font-face {
  font-family: 'Exo 2 Thin';
  src: url('/client/assets/fonts/Exo2-Thin.ttf') format('opentype');
}
