@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Trebuchet MS';
  src: local('Trebuchet MS'), url('/client/assets/fonts/trebuc.ttf') format('opentype');
}
@font-face {
  font-family: 'Exo 2 Thin';
  src: url('/client/assets/fonts/Exo2-Thin.ttf') format('opentype');
}

h1 {
  @apply text-base text-yellow-400 font-bold;
}

.question {
  @apply text-gray-300 mt-4 pr-6;
}

.answer {
  @apply text-yellow-200 pb-4 pl-6 border-b-4 border-gray-300 last:border-none;
}

.link {
  @apply text-purple-300 hover:text-purple-200 transition-colors;
}